#table1 {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#table1 th,
#table1 td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

#table1 thead {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

#table1 .info:hover {
    background-color: #cce5ff;
    cursor: pointer;
}

#button1 {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
}

#button1:hover {
    background-color: #0056b3;
    cursor: pointer;
}